/* Local styles */

h2 {
  margin-top: 0;
}

#main {
  grid-column: 2 / span 10;
}

.wrapper--home {
  background: #f6f6f4;
}

.hero {
  margin-top: 10px;

  @media screen and (min-width: 36.25em) {
    margin-top: 113px;
  }
  @media screen and (min-width: 64em) {
    margin-top: 103px;
  }
}

.search--home {
  justify-content: center;

  @media screen and (min-width: 36.25em) {
    margin: 59px 75px 90px 75px;
  }

  @media screen and (min-width: 64em) {
    margin: 64px 118px 90px 118px;
  }
}

.input-group__search {
  margin-top: 15px;
  margin-bottom: 190px;
}

.select__search--wrapper {
  display: none;

  @media screen and (min-width: 64em) {
    display: inline-block;
  }
}

.search--bar {
  width: 100%;
  background: #e3e1dd;
  justify-content: center;
  padding: 15px 0px;
}

.search--interior {
  justify-content: center;

  .input-group__search {
    width: 50%;
    margin: 0;
  }
}

.card-list {
  @media screen and (min-width: 36.25em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.item__header {
  display: block;

  @media screen and (min-width: 64em) {
    justify-content: space-between;
    display: flex;
  }
}

.item__header-left {
  max-width: 70%;
}

.item__header-left h1 {
  margin: 0; /*removes the default h1 margins from the style library*/
}

.item__details {
  display: block;

  @media screen and (min-width: 36.25em) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

.not-found {
  margin-top: 100px;
  margin-bottom: 200px;
}

.results__loading {
  display: none;
  transition: opacity 0.2s ease;

  &.is-loading {
    display: block;
    text-align: center;
    margin-top: 4rem;
    opacity: 1;
    height: 100%;
    transition: opacity 0.2s ease;
  }
}

.results__list {
  opacity: 1;
  transition: opacity 0.2s ease;

  &.is-loading {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}

.modal {
  right: 20%;
  left: 20%;
  bottom: 40%;
  overflow: hidden;

  @media screen and (min-width: 64em) {
    right: 30%;
    left: 30%;
    bottom: 40%;
  }
}

.modal__overlay.is-open {
  display: block;
}

.modal__overlay {
  display: none;
}

input[name=ScheduledDate] {
  width: 80%;
}

.ui-datepicker-trigger {
  width: 20%;
  box-sizing: border-box;
  padding: 0 5%;
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 45px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  vertical-align: middle;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  background: none;
  border: none;
}

.ui-widget, .ui-widget a {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  vertical-align: unset;
}

.ui-datepicker td span, .ui-datepicker td a {
  text-align: center;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 6px 8px;
  transition: all 0.2s ease;
  background: #f6f6f4;
  color: #5c5c5c;
  border: 1px solid #a8a8a8;
  
  &:hover {
    background: #f6f6f4;
    color: #5c5c5c;
  }
}

.ui-datepicker-header {
  background: #e3e1dd;
}
