{% comment %}Creates a delimited list of author names{% endcomment %}
{%- assign everything = "" | split: ',' -%}
{%- assign authors = "" | split: ',' -%}
{%- assign fields = "100,110,111" | split: "," -%}

{%- for field in fields -%}
  {%- assign list = include.object.fields | map: field  -%}
  {%- assign everything = everything | concat: list -%}
{%- endfor -%}

{%- for item in everything -%}
  {% if item %}
    {% capture title %}{% include author_title.html object=item %}{% endcapture %}
    {% assign authors = authors | push: title %}
  {% endif %}
{%- endfor -%}

{{- authors | join: include.separator | strip_newlines | escape -}}
