<form role="search" action="/search/" method="get">
  <div class="search">
    <div class="input-group__search">
      <div class="input__search">
        <input
          type="search"
          id="query"
          name="query"
          placeholder="Search..."
          maxlength="255"
          size="60"
          aria-required="true"
          required=""
        />
      </div>
      <div class="select__search--wrapper">
        <div class="select__search">
          <label for="field" class="visually-hidden">
            Choose a search category
          </label>
          <select name="field" id="field">
            <option value="">Everything</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="subject">Subject</option>
          </select>
          <span class="material-icon" aria-hidden="true">expand_more</span>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn--orange search__submit-btn"
        aria-label="submit search"
      >
        <span class="material-icon" aria-hidden="true">search</span>
      </button>
    </div>
  </div>
</form>
