{% comment %}Creates a delimited list of subjects{% endcomment %}
{%- assign everything = "" | split: ',' -%}
{%- assign subjects = "" | split: ',' -%}
{%- assign fields = "600,610,611,650,651" | split: "," -%}

{%- for field in fields -%}
  {%- assign list = include.object.fields | map: field  -%}
  {%- assign everything = everything | concat: list -%}
{%- endfor -%}

{%- for topic in everything -%}
  {% if topic %}
    {% capture subject_title %}{% include subject_title.html object=topic %}{% endcapture %}
    {% assign subjects = subjects | push: subject_title %}
  {% endif %}
{%- endfor -%}

{{- subjects | join: include.separator | strip_newlines | escape -}}
