// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Breakpoints map
$break-md: 580px;
$break-lg: 1024px;

// Colors by category

// Oranges
$flame-orange: #d7521d;
$crusta-orange: #f16741;
$sandy-orange: #f39653;
$peach-orange: #fc9;
$rose-violet: #ffe6e6;

// Blues
$regal-blue: #192d48;
$midnight-blue: #113769;
$yale-blue: #1b5198;
$water-blue: #c5d1dd;
$solitude-blue: #ebeff4;

// Browns
$maroon-brown: #662700;
$rust-red: #9f3c0f;
$umber-brown: #b53c0d;

// Greys
$silver-grey: #bcbab3;
$wan-white-grey: #e3e1dd;
$desert-grey: #f6f6f4;

// Monochrome
$black: #000;
$night-grey: #2e2e2e;
$mortar-grey: #5c5c5c;
$dark-grey: #a8a8a8;
$white: #fff;

// Fonts
$sans-serif-stack: 'Lato', sans-serif;

$transition-default: all 0.2s ease;



