.search {
  background: #E3E1DD;
}

.modal__overlay {
    display: none;
}

.modal__overlay.is-open {
    display: block;
}

.not-found {
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center;
}

.wrapper--home {
  background: $off-white;
}

.results__loading {
  margin-top: 0;
  text-align: center;
  opacity: 0;
  height: 0;
  transition: opacity 0.2s ease;
  &.is-loading {
    margin-top: 4rem;
    opacity: 1;
    height: 100%;
    transition: opacity 0.2s ease;
  }
}

.results__list {
  opacity: 1;
  transition: opacity 0.2s ease;
  &.is-loading {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}

.tile-list {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  position: relative;
  min-height: 120px;
  @media screen and (min-width: $break-lg) {
    min-height: 130px;
  }
}

.tile__title {
  border-bottom: none;
  padding-bottom: 0;
  margin: 0;
}

.tile__link {
  min-height: 0;
  font-size: inherit;
  font-family: inherit;
  color: $dark-gray;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &:hover {
    text-decoration: none;
    color: $dark-gray;
  }
}
input[name=ScheduledDate] {
  width: 80%;
}

.ui-datepicker-trigger {
  width: 20%;
  box-sizing: border-box;
  padding: 0 5%;
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 45px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  vertical-align: middle;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  background: none;
  border: none;
}

.ui-widget, .ui-widget a {
  font-family: $sans-serif-stack;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  vertical-align: unset;
}

// Center text in calendar days
.ui-datepicker td span, .ui-datepicker td a {
  text-align: center;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  font-family: $sans-serif-stack;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 6px 8px;
  transition: $transition-default;
  background: $off-white;
  color: $med-gray;
  border: 1px solid $light-med-gray;
  &:hover {
    background: $lighter-gray;
    color: $med-gray;
  }
}

.ui-datepicker-header {
  background: $neutral-sand;
}
