---
layout: default
---

{% capture object_id %}{{page.id}}{% endcapture %}
{% assign object = site.data.marc[object_id] %}

<div class="wrapper item__header">
  <div class="item__header-left">
    <h1 class="page__title item__title">
      {{ page.title }}
    </h1>
    <p class="item__callnumber">Call Number: {% include call_number.html object=object %}</p>
  </div>
  <div class="item__header-right">
    <button class="btn btn--md btn--blue" data-micromodal-trigger="request_modal">
      Request in Reading Room
    </button>
  </div>
</div>

<div class="item-details">
  <div class="wrapper--flex-wrap wrapper--attributes">
    <div class="container item__attribute">
      <h2 class="item-details__label">Authors</h2>
      {%- capture authors -%}{%- include author_list.html object=object separator="|" -%}{%- endcapture -%}
      {%- assign authors = authors | split: "|" -%}
      <ul class="list--unstyled">
      {% for author in authors %}
        <li>{{author}}</li>
      {% endfor %}
      </ul>
    </div>
    {%- capture subjects -%}{%- include subject_list.html object=object separator="|" -%}{%- endcapture -%}
    {% if subjects.size > 0 %}
    {% assign subjects = subjects | split: "|" | uniq %}
    <div class="container item__attribute">
      <h2 class="item-details__label">Subject Terms</h2>
      <ul class="list--unstyled">
      {%- for subject in subjects -%}
        <li>{{subject}}</li>
      {%- endfor -%}
      </ul>
    </div>
    {% endif %}
    <div class="container item__attribute">
      <h2 class="item-details__label">Published</h2>
      {% include publication_info.html object=object %}
    </div>
  </div>

  {% capture notes %}{% include note_list.html object=object %}{% endcapture %}
  {% if notes.size > 1 %}
    <h2 class="item-details__label">Notes</h2>
    <div class="wrapper--flex-wrap">
      {% include note_list.html object=object %}
    </div>
  {% endif %}
</div>
